body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh
}

#add-game-form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 60vw;
}
#add-game-form textarea{
    height: 20vh;
    text-align: justify;
}


#add-game-input {
    width: 50vw;

}

#access-unauthorized-container {
    height: 80vh;
}