.after-payment-title {
    font-size: 6vw;
}

.after-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.after-payment-redirect {
    font-size: 2vw;
    text-decoration: none;
    background-color: firebrick;
    color: white;
    width: 20vw;
    height: 5vh;
    padding: 1vh;
    text-align: center;  
}

.after-payment-redirect:hover {
    background-color: rgb(204, 37, 37);
}

@media only screen and (max-width: 600px) {
    .after-payment-redirect {
        font-size: 4vw;
        text-decoration: none;
        background-color: firebrick;
        color: white;
        width: 20vw;
        height: 5vh;
        padding: 1vh;
        text-align: center;  
    }
}