#game-details-image {
    width: 35vw;
    height: 35vw;
    border-radius: 15px;
}

#game-details-card {
    padding: 5vw 8vw;
}

#game-description-paragraph {
    width: 35vw;
}

#game-page-main {
    display: flex;
    flex-direction: row;
}

#game-purchase-card {
    padding: 5vw 8vw;
}

#price-purchase-card {
    font-size: 5em;
}

#game-search-query {
    width: 50vw;
    background-color: white;
    height: 4.5vh;
    font-size:  4vh;
    color: black;
    border-radius: 20px;
    text-align: center;
}



#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#purchase-page-btn-container {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.purchase-page-btn {
    background-color: firebrick;
    border: none;
    color: white;
    width: 14vw;
    height: 8vh;
    font-size: 3vh;
    font-weight: 450;
    cursor: pointer;
}

.purchase-page-btn:hover {
    background-color: rgb(204, 37, 37);
}

@media only screen and (max-width: 600px) {
    #game-details-image {
	    width: 80vw;
	    height: 50vw;
	}
	#game-description-paragraph {
	    width: 80vw;
	}
	#game-page-main {
	    flex-direction: column;
	}

    .purchase-page-btn {
	    width: 35vw;
	    height: 8vh;
	    font-size: 3vh;

}
}