.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh;
    border: 2px solid black;
    color: black;
    background-color: white;
    width: 40%;
    height: 40vh;
}


#login-card, #signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#auth-background {
    width: 100vw;
    height: 77vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-signup-selection {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    cursor: pointer;
    margin-top: 4vh;
}

.login-signup-title {
    color: black;
}

.submit-user-auth {
    background-color: firebrick;
    width: 20vw;
    height: 7vh;
    color: white;
    border: none;
    font-size: 2vw;
    margin-top: 10vh;
    cursor: pointer;
}

.submit-user-auth:hover {
    background-color: rgb(204, 37, 37);
}

.input-text-form {
    width: 15vw;
    height: 3.5vh;
    font-size: 1.25vw;
}




